[submodule "pack/matrix/start/vim-matrix-screensaver"]
	path = pack/matrix/start/vim-matrix-screensaver
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
[submodule "pack/lsp-config/start/nvim-lspconfig"]
	path = pack/lsp-config/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
[submodule "pack/lsp-command/start/lsp-command"]
	path = pack/lsp-command/start/lsp-command
	url = https://github.com/ii14/lsp-command.git
[submodule "pack/gitgutter/start/vim-gitgutter"]
	path = pack/gitgutter/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
