[submodule "pack/matrix/start/vim-matrix-screensaver"]
	path = pack/matrix/start/vim-matrix-screensaver
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
[submodule "pack/lsp-config/start/nvim-lspconfig"]
	path = pack/lsp-config/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "pack/lsp-command/start/lsp-command"]
	path = pack/lsp-command/start/lsp-command
	url = https://github.com/ii14/lsp-command.git
[submodule "pack/fsharp/start/Ionide-vim"]
	path = pack/fsharp/start/Ionide-vim
	url = https://github.com/ionide/Ionide-vim.git
[submodule "pack/vim-dirdiff/start/vim-dirdiff"]
	path = pack/vim-dirdiff/start/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule "pack/telescope/start/telescope.nvim"]
	path = pack/telescope/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "pack/plenary/start/plenary.nvim"]
	path = pack/plenary/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "pack/gitsigns/start/gitsigns.nvim"]
	path = pack/gitsigns/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "pack/tokyonight/start/tokyonight.nvim"]
	path = pack/tokyonight/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim.git
[submodule "pack/tabular/start/tabular"]
	path = pack/tabular/start/tabular
	url = https://github.com/godlygeek/tabular.git
